@using AppliancesWEB.Models;
@model DataUserForReg
@{ 
    ViewBag.Title = "Аккаунт";
    
}
<div class="account">
    <div class="container">
        <div class="account-main">
            @if (Session["Login"] != null)
            {
                <div class="ac-main-row1">
                    <div class="photo data-contact-flex d-flex justify-content-center">
                        @if (!string.IsNullOrEmpty(Model.DataUser.imageUserPath))
                        {
                            <img src="~/Images/UserPhoto/@Model.DataUser.imageUserPath" alt="Изображение отсутствует" width="400px" height="400px">
                        }
                        else
                        {
                                <form action="~/Account/AddPhoto" method="post" enctype="multipart/form-data">
                                    <input type="file" name="image" required>
                                    <input type="submit" value="Загрузить изображение" />
                                    @Html.ValidationSummary()
                                </form>
                        }
                    </div>
                    <div class="d-flex justify-content-between mb-3 flex-wrap align-content-between mt-4">
                        <ul class="list-group nav-fill">
                            <li class="list-group-item list-group-item-primary">Основные данные</li>
                            <li class="list-group-item">Логин: @AuthUser.Login</li>
                            <li class="list-group-item">Фамилия: @Model.DataUser.Surname</li>
                            <li class="list-group-item">Имя: @Model.DataUser.Name</li>
                            <li class="list-group-item">Отчество: @Model.DataUser.Patronymic</li>
                            <li class="list-group-item">Почта: @AuthUser.Email</li>
                        </ul>
                        <ul class="list-group" style="width:fit-content">
                            <li class="list-group-item list-group-item-secondary">Дополнительная информация</li>
                            <li class="list-group-item">Дата рождения: @Model.DataUser.DateBirth.ToShortDateString()</li>
                            <li class="list-group-item">Город: @Model.DataUser.City</li>
                            <li class="list-group-item">Регион: @Model.DataUser.Region</li>
                            <li class="list-group-item">Адрес: @Model.DataUser.Adress</li>
                         </ul>
                        <ul class="list-group align-self-center mt-3" style="width:fit-content">
                            <li class="list-group-item list-group-item-danger">Платежные данные</li>
                            <li class="list-group-item list-group-item-danger">Номер карты: @Model.PayData.NumberCard.Substring(9)********</li>
                            <li class="list-group-item list-group-item-danger">Дата окончания: @Model.PayData.DateEnd</li>
                            <li class="list-group-item list-group-item-info">
                                <div class="dropleft w-100">
                                    <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        История покупок
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        @{ var ordersUser = new AppliancesContext().Orders.Where(x => x.idUser == AuthUser.Id).ToList();
                                            if (ordersUser.Count == 0)
                                            {
                                                <button class="dropdown-item" type="button" style="padding:0">
                                                    <a class="nav-link">
                                                        Список покупок пуст.
                                                    </a>
                                                </button>
                                            }
                                            else
                                            {
                                                foreach (var b in ordersUser)
                                                {
                                                    <button class="dropdown-item" type="button" style="padding:0">
                                                        <a class="nav-link" href="/Catalog/Equip/@b.idEquipment">
                                                            @b.Equipments.Name @b.DateOrder.ToShortDateString() @((float)b.Summary) р.
                                                        </a>
                                                    </button>
                                                }
                                            }

                                        }
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text-center text-success"><h3>Чтобы изменить учетные данные обратитесь в поддержку.</h3></div>
                                            }
                                            else
                                            {
                <div style="padding:200px">
                    <span style="font-size:30px">Для просмотра пользовательской информации войдите в аккаунт!</span>
                </div>
                }
        </div>
    </div>
</div>