@using AppliancesWEB.Models;
@model DataUserForReg
@{ 
    ViewBag.Title = "Аккаунт";
    
}
<div class="account">
    <div class="container">
        <div class="account-main">
            @if (Session["Login"] != null)
            {
                <div class="ac-main-row1">
                    <div class="photo">
                        @if (!string.IsNullOrEmpty(Model.DataUser.imageUserPath))
                        {
                            <img src="~/Images/UserPhoto/@Model.DataUser.imageUserPath" alt="Изображение отсутствует" width="100%" height="100%">
                        }
                        else
                        {
                                <form action="~/Account/AddPhoto" method="post" enctype="multipart/form-data">
                                    <input type="file" name="image" required>
                                    <input type="submit" value="Загрузить изображение" />
                                    @Html.ValidationSummary()
                                </form>
                        }
                    </div>
                    <div class="main-data">
                        <span>Логин: @AuthUser.Login</span>
                        <span>Фамилия: @Model.DataUser.Surname</span>
                        <span>Имя: @Model.DataUser.Name</span>
                        <span>Отчество: @Model.DataUser.Patronymic</span>
                        <span>Почта: @AuthUser.Email</span>
                       
                    </div>
                    <div class="paydata">
                        <h4 style="margin-top:0px;margin-bottom:0px">Платежные данные</h4>
                        <span>Номер карты: @Model.PayData.NumberCard.Substring(9)********</span>
                        <span>Дата окончания: @Model.PayData.DateEnd</span>
                    </div>
                </div>
                <div class="ac-main-row2">
                    <div class="main-data-1">
                        <span>Дата рождения: @Model.DataUser.DateBirth.ToShortDateString()</span>
                        <span>Город: @Model.DataUser.City</span>
                        <span>Регион: @Model.DataUser.Region</span>
                        <span>Адрес: @Model.DataUser.Adress</span>
                    </div>
                </div>
            }
            else
            {
                <div style="padding:200px">
                    <span style="font-size:30px">Для просмотра пользовательской информации войдите в аккаунт!</span>
                </div>
                }
        </div>
    </div>
</div>