@model List<Equipments>
<div class="main">
    <div class="container">
        <div class="main-content">
            <div>
                <h1>Надежность в отличном виде</h1>
            </div>
            <div class="main-container">
                <div class="main-container-item">
                    <div class="main-item-img">
                        <img src="~/Images/EquipmentsPhoto/@Model[0].imageEquipmentPath" alt="" width="100%">
                    </div>
                    <div class="main-item-title">
                        <div class="item-title">
                            <h5>@Model[0].Name</h5>
                        </div>
                        <div class="cost">
                            @Model[0].Cost
                        </div>
                    </div>
                    <div class="text">
                        @Model[0].Description
                    </div>
                    <div class="btn-info-item">
                        <a href="~/Catalog/@Model[0].idEquipment">Подробности..</a>
                    </div>
                </div>
                <div class="main-container-item">
                    <div class="main-item-img">
                        <img src="~/Images/EquipmentsPhoto/@Model[1].imageEquipmentPath" alt="" width="100%" height="100%">
                    </div>
                    <div class="main-item-title">
                        <div class="item-title">
                            <h5>@Model[1].Name</h5>
                        </div>
                        <div class="cost">
                            @Model[1].Cost
                        </div>
                    </div>
                    <div class="text">
                        @Model[1].Description
                    </div>
                    <div class="btn-info-item">
                        <a href="~/Catalog/@Model[1].idEquipment">Подробности..</a>
                    </div>
                </div>
                <div class="main-container-item">
                    <div class="main-item-img">
                        <img src="~/Images/EquipmentsPhoto/@Model[2].imageEquipmentPath" alt="" width="100%">
                    </div>
                    <div class="main-item-title">
                        <div class="item-title">
                            <h5>@Model[2].Name</h5>
                        </div>
                        <div class="cost">
                            @Model[2].Cost
                        </div>
                    </div>
                    <div class="text">
                        @Model[2].Description
                    </div>
                    <div class="btn-info-item">
                        <a href="~/Catalog/@Model[2].idEquipment">Подробности..</a>
                    </div>
                </div>
                <div class="main-container-item">
                    <div class="main-item-img">
                        <img src="~/Images/EquipmentsPhoto/@Model[3].imageEquipmentPath" alt="" width="100%">
                    </div>
                    <div class="main-item-title">
                        <div class="item-title">
                            <h5>@Model[3].Name</h5>
                        </div>
                        <div class="cost">
                            @Model[3].Cost
                        </div>
                    </div>
                    <div class="text">
                        @Model[3].Description
                    </div>
                    <div class="btn-info-item">
                        <a href="~/Catalog/@Model[3].idEquipment">Подробности..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section1">
    <div class="container">
        <div class="section1-container">
            <div class="section1-title">
                <h1>Только у нас лучший ассортимент.</h1>
            </div>
            <div class="section1-content">
                <div class="s1-content-text">
                    <span><b style="color:darkblue">Ассортимент на все случаи жизни</b> - у нас есть все чтобы вам хотелось. Лучший ассортимент различной бытовой техники. Доставка в любую точку России. Долгая гарантия, высокое качество.</span>
                    <a href="~/Catalog/Index" class="btn-catalogue">
                        Перейти в каталог <b>=></b>
                    </a>
                </div>
                <div class="s1-content-image">
                    <img src="~/Images/garanties.png" alt="" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section2">
    <div class="container">
        <div class="section2-container">
            <div class="section2-title">
                <h2>Товары, выбираемые пользователями.</h2>
            </div>
            <div class="section2-content">
                <div class="section2-row1">
                    <div class="s2-row1-image">
                        <div class="s2-row1-image-name">
                            <h5>
                                @Model[4].Name @Model[4].Cost  р.
                            </h5>
                        </div>
                        <img src="~/Images/EquipmentsPhoto/@Model[4].imageEquipmentPath" alt="" width="100%" height="100%">
                    </div>
                    <div class="s2-row1-text">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cum explicabo dolore aut ipsum in temporibus dolor aliquam eligendi veniam nulla omnis fugit suscipit, odio minus corrupti aspernatur distinctio placeat?</span>
                        <a href="~/Catalog/@Model[4].idEquipment" class="btn-user-buy">
                            <b>= Подробнее =</b>
                        </a>
                    </div>
                </div>
                <div class="section2-row2">
                    <div class="s2-row1-text">
                        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo odit excepturi rem quia inventore autem repudiandae quam aliquid iure, numquam, aperiam, ex sint facere perferendis beatae earum hic dolorem! Quas.</span>
                        <a href="~/Catalog/@Model[5].idEquipment" class="btn-user-buy">
                            <b>= Подробнее =</b>
                        </a>
                    </div>
                    <div class="s2-row1-image">
                        <div class="s2-row1-image-name">
                            <h5>
                                @Model[5].Name @Model[5].Cost  р.
                            </h5>
                        </div>
                        <img src="~/Images/EquipmentsPhoto/@Model[5].imageEquipmentPath" alt="" width="100%" height="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>